* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: 'Josefin Sans';
	outline: none;
}

a {
	color: unset;
	text-decoration: none;
	display: inline-block;
}

.container {
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center
}

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: var(--vh);
    justify-content: center;
    margin-left: 1vw;
	z-index: 1;
}

.nav-button {
    height: 3.75vw;
    width: 3.75vw;
    margin: 0.75vw;
    cursor: pointer;
    background: none;
    border: none;
}

.nav-button.active {
    outline: 1px solid white;
    outline-offset: 3px;
}

p {
    color: white;
    text-align: center;
    font-size: 4vw;
}

.section {
	height: var(--vh);
	min-height: var(--mh);
	width: 100%;
	background: black;
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	overflow: hidden;
}

.section.about {
	background: #6d6060;
}

.section.contact {
	background: #866b84;
}

.section.work {
	background: #2d687d;
}

.intro p{
	text-align: left;
}

.intro img {
	width: 21.25vw;
	margin-right: 8.4vw;
}

.hi {
	font-size: 4vw;
	display: block;
	padding-left: .1vw;
	margin-bottom: 0.2vw;
}

.i-am, .sk-singh {
	font-size: 5vw;
}

.i-make {
	font-size: 3.35vw;
	display: block;
	padding-left: .2vw;
}

.contact-form form {
	width: 25vw;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
	border: none;
	font-size: 1.2vw;
    padding: 1vw;
}

.contact-form form > span {
	margin-bottom: 1.25vw;
}

.contact-form input, .contact-form button {
    height: 3.5vw;
}

.contact-form textarea {
    height: 12vw;
	resize: none;
}

.contact-form button {
    width: 7.2vw;
    border: 2px solid white;
    background: none;
    color: white;
	font-size: 1.25vw;
	padding: 1.125vw;
}

.contact-form button:hover {
    background: white;
    color: black;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-size: 1.2vw;
    color: #0005;
}

.contact-form form > span {
    position: relative;
    display: inline-block;
    width: 100%;
}

.contact-form {
    margin-right: 10vw;
}

.message-box {
    font-size: 1vw;
    text-align: left;
    background: #a72929;
    padding: .3vw .2vw .1vw;
	display: none;
}

.message-box.show {
	display: block;
}

.mb {
	display: none;
}
	
.mb-00p .mb-00c,
.mb-01p .mb-01c{
	display: inline-block
}

.request-status-box {
    background: white;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 30px;
	padding: 13px 20px 11px 15px;
	transition-duration: .3s;
    transition-property: top;
    transition-timing-function: ease-in-out;
}

.request-status-box span {
    font-size: 1.38vw;
}

.request-status-box .fa-times-circle {
    color: #bd592a;
}

.request-status-box .fa-check-circle {
    color: #1b942a;
}

.request-status-box .sent,
.request-status-box .not-sent {
    display: none;
}

.request-status-box.success .sent {
    display: block;
}

.request-status-box.failure .not-sent {
    display: block;
}

.request-status-box.response-came {
    top: 5vw;
}

.request-status-box p {
    font-size: 1.25vw;
    color: #777;
    display: inline-block;
    vertical-align: text-bottom;
}

h2 {
    font-size: 2.375vw;
    color: white;
    margin-bottom: 0.5vw;
}

.social-info {
	margin: 0;
	padding: 0;
	color: white;
	list-style: none;
}

.social-info a {
    font-size: 1.4vw;
}

.social-info li {
    margin-bottom: 1vw;
}

.social-info li:last-child {
    margin: 0;
}

.social-info span {
    font-size: 1.5vw;
    display: inline-block;
    background: white;
    height: 2vw;
    width: 2vw;
    text-align: center;
    line-height: 2vw;
    color: #866b84;
}

.work-list-wrapper {
	height: 28vw;
	width: 80vw;
	position: relative;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: column;
	height: 100%;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.work-list::-webkit-scrollbar {
	display: none;
}

.scroll-bar {
    height: 10px;
    width: 100%;
    border: 1px solid #fff;
	margin-top: 1vw;
}

.scroll-thumb {
    height: 4px;
    width: 100px;
    background: #fff;
    margin: 2px;
	position: relative;
}

.work-piece {
    background: #fff2;
    height: 28vw;
    margin-right: 1vw;
}

.work .container {
    flex-direction: column;
	position: relative;
    right: -3vw;
}

.shadow-right {
    position: absolute;
    right: 0;
    width: 13vw;
    background: linear-gradient(270deg, #2d687d, transparent);
    height: 100%;
	transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: width;
}

.shadow-left {
    position: absolute;
    left: 0;
    width: 0;
    background: linear-gradient(90deg, #2d687d, transparent);
    height: 100%;
	transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: width;
}

.summary {
    font-size: 1.5vw;
    width: 30vw;
    line-height: 1.5;
    text-align: left;
}

.about .container {
    display: block;
}

.sum-and-skills {
    display: flex;
    align-items: center;
}

.skill {
    height: 5vw;
    width: 5vw;
    background: #0004;
    margin: .5vw;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    width: 20vw;
    justify-content: center;
    align-items: center;
}

.about h2 {
    margin-bottom: 2vw;
    text-align: center;
}

.skill {
    height: 5vw;
    width: 5vw;
    background: #fff;
    margin: .5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img {
    width: 80%;
}

.skill img.css {
    width: 90%;
}

.skill img.js {
    width: 70%;
}

.work-piece img {
    height: 100%;
}

.submit-wrap {
    display: inline-block;
    position: relative;
}

.loader {
    border: .4vw solid #f3f3f3;
    border-top: .4vw solid #3498db;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    animation: spin 1s linear infinite;
    position: absolute;
    left: calc(100% + 1vw);
    top: 13%;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 767px) {
	.container {
		padding-bottom: 20vw;
	}
	
	.navigation {
		justify-content: center;
		bottom: 0;
		height: unset;
		flex-direction: row;
		width: 100%;
		margin-left: 0;
		top: unset;
		margin-bottom: 2.2vw;
	}
	
	.nav-button {
		height: 11vw;
		width: 11vw;
		margin: 2.2vw;
	}
	
	p {
		font-size: 10vw;
	}
	
	h2 {
		font-size: 9.3vw;
		margin-bottom: 3vw;
	}
	
	.intro img {
		width: 60vw;
		margin-right: 0;
		margin-bottom: 4vw;
	}
	
	.intro {
		flex-direction: column;
	}
	
	.intro p {
		text-align: center;
	}

	.hi, .i-am {
		font-size: 6.5vw;
		display: inline;
		margin-bottom: 0;
	}

	.sk-singh {
		font-size: 14.25vw;
		display: block;
		margin: 1vw 0 .5vw;
	}

	.i-make {
		font-size: 8vw;
	}

	
	.contact-form form {
		width: 85vw;
		text-align: center;
	}
	
	.contact-form input, .contact-form button {
		height: 13vw;
	}
	
	.contact-form input, .contact-form textarea {
		font-size: 5vw;
		padding: 0 4vw;
	}
	
	.contact-form form > span {
		margin-bottom: 5vw;
	}
	
	.message-box {
    	font-size: 4vw;
		padding: 1vw .5vw .1vw;
	}
	
	.contact-form input::placeholder, .contact-form textarea::placeholder {
		font-size: 5vw;
		color: #0005;
		position: relative;
		top: 0.6vw; 
	}
	
	.contact-form button {
    	width: 28.5vw;
		font-size: 5vw;
		padding: 4vw;
	}
	
	.contact-form textarea {
		height: 47.5vw;
		padding: 4vw 4vw;
	}
	
	.contact-form {
		margin: 0;
	}
	
	.request-status-box p {
    	font-size: 5.25vw;
	}
	
	.request-status-box span {
		font-size: 5.38vw;
	}
	
	.request-status-box.response-came {
		top: 7.1vw;
	}
	
	.social-info a {
		font-size: 5.5vw;
		border: 1px solid white;
		height: 10vw;
		padding: 0 4vw;
		line-height: 10vw;
		background: #866b84;
		position: absolute;
		left: 100%;
		transition-duration: .3s;
		transition-timing-function: ease-in-out;
		transition-property: left;
	}
	
	.social-info span {
		font-size: 7.5vw;
		height: 10vw;
		width: 10vw;
		line-height: 10vw;
		position: relative;
    	z-index: 1;
	}
		
	.social-info li {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		overflow: hidden;
	}

	.social-info {
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 20vw;
	}
	
	.visible {
		left: var(--left) !important;
	}

    .summary {
        font-size: 5vw;
        width: 100%;
    }

    .sum-and-skills {
        flex-direction: column;
    }

    .about h2 {
        font-size: 8vw;
        margin-bottom: 3vw;
    }

    .skills {
        margin-left: 0;
        width: 60vw;
        margin-top: 5vw;
    }

    .skill {
        height: 15vw;
        width: 15vw;
        margin: 2vw;
    }

    .work .container {
        right: 0;
    }

    .work-list-wrapper {
        height: 125vw;
        width: 90vw;
    }
    
    .work-piece {
        height: 40vw;
        margin-bottom: 1vw;
    }
}
